body{
	/*background-color: #FF00FF;*/
}






/* ---------------------------------------------------------------------------    HOMEPAGE */

div .project_grid {
	float:left;
	width:12.5vw; /*(80/6)*/
	height:12.5vw;
}

div .project_grid_title, div .project_grid_name{
	width:8.5vw;
	color:#FFFFFF;
	background-color: #ff014a;
	padding:8px;
	/*border-bottom:4px solid #ffff01;*/
}

div .project_grid_title {
	font-weight: 700;
	font-size:1em;
	margin-bottom: 8px
}

div .title_sm {
	font-size:.8em;
}

div .project_grid_name {
	font-weight: 400;
	font-size:1em;
}



/* ---------------------------------------------------------------------------    category page */

div .category_project{
	position: relative;
	float:left;
	width:18vw;
	height:27vw; /* golden ratio of 49 */
	background-color: #ffff01;
	margin:1vw;
	background-size: auto 150%;
	background-position: center;
}

a:hover .category_project{
	background-size: auto 20%;
}
